/******************************* General Styles *******************************/
body {
	background: url("../img/topBG.png") 0 0 repeat-x;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
}

.fl {float: left;}
.fr {float: right;}

.cl {clear: left;}
.cr {clear: right;}
.cb, .mainBlogPostContent {clear: both;}

p {
	color: #6f7986;
	line-height: 1.5em;
	margin-bottom: 10px;
}

	p a {
		text-decoration: none;
		color: #2b92fa; /* The skin color - This can be changed if you are going for a diferent color scheme */
	}

	p a:hover {
		text-decoration: none;
		background-color: #2b92fa; /* The skin color - This can be changed if you are going for a diferent color scheme */
		color: white;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', 'Arial', sans-serif;
	color: #2b92fa; /* The skin color - This can be changed if you are going for a diferent color scheme */
	margin-bottom: 15px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 11px;
}

.columnHeading {
	margin-bottom: 10px;
}

.lastCol {
	margin-right: 0 !important;
}

.oneHalf {
	width: 47%;
	margin-right: 3%;
	float: left;
}

.oneThird {
	width: 30%;
	float: left;
	margin-right: 3%;
}

.twoThirds {
	width: 63%;
	float: left;
	margin-right: 3%;
}

.oneFourth {
	width: 22%;
	margin-right: 3%;
	float: left;
}

div.mainWrapper {
	width: 960px;
	margin: 0 auto;
}

div.horizontalSep {
	background: url("../img/horizontalSeparator.jpg") top center no-repeat;
	width: 960px;
	height: 55px;
	margin-top: 35px;
}

.headingSubtitle {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #6f7986;
	display: block;
	margin-bottom: 30px;
}

a.buttonLink, a.buttonLinkWithImage {
	background: url("../img/buttonBGOut.png") 0 0 repeat-x;
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 18px;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    position: relative;
}

a.buttonLink:hover, a.buttonLinkWithImage:hover {
	background: url("../img/buttonBGOver.png") 0 0 repeat-x;
}

a.buttonLinkWithImage {
	padding: 10px 60px 10px 30px;
}

	a.buttonLinkWithImage img {
		position: absolute;
		right: 20px;
		top: 9px;
	}

.preloader {
	background: url('../img/preloader.gif') center center no-repeat white;
	display: block;
}

.quoteLeft, .quoteRight {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
	font-style: italic;
	border-left: 5px solid #d1d8dc;
	padding: 10px 0px 10px 20px;
	margin: 20px;
	width: 30%;
}

.quoteFull {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
	font-style: italic;
	border-left: 5px solid #d1d8dc;
	padding: 10px 0px 10px 20px;
	margin: 20px;
	display: block;
}
.quoteLeft {
	float: left;
	margin-left: 0;
}

.quoteRight {
	float: right;
	margin-right: 0;
}

.dropcap {
	font-size: 40px;
	line-height: 40px;
	float: left;
	margin-right: 10px;
	font-family: "Droid Sans", "Arial", sans-serif;
}

.insidePR {
	float: right;
	margin: 0 0 20px 20px;
	display: block;
}

.insidePL {
	float: left;
	margin: 0 20px 20px 0;
	display: block;
}

.blockDiv {
	display: block;
}

.basicSeparator {
	margin: 25px 0;	
	background: transparent url('../img/sepBG.png') left center repeat-x;
	width: 100%;
	height: 1px;
}

.blankSeparator {
	margin: 20px 0;
	height: 1px;
	width: 100%;
}

.top {
	text-align: right;
	height: 100%;
}

	.top a {
		font-size: 10px;
		text-decoration: none;
		background-color: white;
		padding-left: 10px;
	}
	
.childList {
	margin-left: 20px;
}



/******************************* Top Section Styles *******************************/
div#topWrapper {
	height: 114px;
	clear: both;
}

div.logo {
	padding-top: 34px;
}



/* Main Menu */
#nav {
	margin: 0; padding: 0;
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
	margin-top: 40px;
}

#nav li a, #nav li {
	float: left;
}

#nav li {
	list-style: none;
	position: relative;
	z-index: 100;
}

#nav li a {
	padding: 10px 20px;
	text-decoration: none;
}



/* Submenu */
.hasChildren {
	background: transparent url("../img/arrowListIcon.png") right center no-repeat !important;
	width: 10px;
	height: 100%;
	line-height: 100%;
	position: absolute;
	right: 10px;
	bottom: 0px;
}

#nav li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0; margin: 0;
	border: 1px solid #d1d8dc;
	border-bottom: none;
}

#nav li:hover > ul {
	display: block;
}

#nav li ul li, #nav li ul li a {
	float: none;
}

/*
#nav li ul li {
	_display: inline; 
}
*/

#nav li ul li a {
	width: 150px;
	display: block;
	background: white url("../img/submenuBG.png") bottom left repeat-x;
	border-bottom: 1px solid #d1d8dc;
	font-size: 12px;
}



/* Submenu Level 2 */
#nav li ul li ul {
	display: none;
}

#nav li ul li:hover ul {
	left: 100%;
	top: -1px;
}

    

/******************************* Slider Section Styles *******************************/
div.sliderSection {
	padding: 30px 0 40px 0;
	margin-bottom: 40px;
}

div.sliderBG {
	background: transparent url("../img/sliderShadow.png") bottom center no-repeat;
	padding-bottom: 3px;
}



/******************************* Product Heading Styles *******************************/
div.productHeadingType1, div.productHeadingType2, div.productHeadingType3, div.productHeadingType4 {
	margin-top: 50px;
	overflow: hidden;
}

.productImg {
	margin-right: 20px;
}

p.productDescription {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
}

ul.featureList {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #2b333d;
	margin-top: 20px;
}

	div.productHeadingType1 ul.featureList li, div.productHeadingType2 ul.featureList li {
		background: url("../img/checkListBullet.jpg") left top no-repeat;
		float: left;
		padding-left: 24px;
		width: 150px;
		margin-left: 20px;
		margin-bottom: 10px;
	}

div.productHeadingType1 .productText, div.productHeadingType2 .productText {
	width: 400px;
}

div.productHeadingType1 .productPrice, div.productHeadingType2 .productPrice {
	width: 249px;
	background: url("../img/smallBoxShadow.png") bottom center no-repeat;
	padding: 0 0 24px 17px;
}

div.productHeadingType1 .productPriceContainer, div.productHeadingType2 .productPriceContainer {
	border: 5px solid #f4f6f7;
	text-align: center;
	padding: 10px 0 0 0;
	width: 220px;
	font-family: "Droid Sans", "Arial", sans-serif;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

	div.productHeadingType1 .productPriceContainer p, div.productHeadingType2 .productPriceContainer p {
		font-size: 14px;
	}

	div.productHeadingType1 .productPriceContainer span {
		font-size: 50px;
		color: #00aeff; /* The skin color - This can be changed if you are going for a diferent color scheme */
	}

	div.productHeadingType2 .productPriceContainer span {
		font-size: 30px;
		color: #00aeff; /* The skin color - This can be changed if you are going for a diferent color scheme */
	}

div#buttonDarkBG {
	background-color: #2b333d;
	padding: 30px 0 30px 0;
}



/******************************* Product Heading Type 3 Styles *******************************/
div.submitButtonDarkBG {
	background-color: #2b333d;
	padding: 42px 30px;
}

div.productHeadingType3 .productText {
	width: 600px;
}

	div.productHeadingType3 .productText h1, div.productHeadingType3 .productText p {
		margin-left: 20px;
	}

div.productHeadingType3 .productLargeBox {
	width: 677px;
	background: url("../img/bigBoxShadow.png") bottom center no-repeat;
	padding: 0 0 24px 17px;
}

div.productHeadingType3 .productTrialForm {
	border: 5px solid #f4f6f7;
	text-align: center;
	width: 650px;
	font-family: "Droid Sans", "Arial", sans-serif;
	background-color: white;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    
    overflow: hidden;
    margin-top: 20px;
}

form#trialForm ul {
	margin-top: 20px;
}

	form#trialForm ul li {
		text-align: left;
		margin: 0 0 10px 20px;
		overflow: hidden;
	}
	
		form#trialForm ul li label {
			display: block;
			float: left;
			width: 140px;
			font-family: "Droid Sans", "Arial", sans-serif;
			font-size: 14px;
			color: #6f7986;
			margin-top: 11px;
		}

form#trialForm input[type='text'] {
	border: 1px solid #d3d6d9;
	width: 230px;
	height: 31px;
	padding: 4px 10px 2px 10px;
	background-color: #e7ebed;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    font-size: 12px;
    font-family: "Droid Sans", "Arial", sans-serif;
}

form#trialForm input[type='text']:hover {
	border: 1px solid #b2b8be;
	background-color: #f1f5f7;
}

form#trialForm input[type='submit'] {
	background: url("../img/buttonBGOut.png") 0 0 repeat-x;
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 18px;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
    position: relative;
}

form#trialForm input[type='submit']:hover {
	background: url("../img/buttonBGOver.png") 0 0 repeat-x;
}



/******************************* Product Heading Type 4 Styles *******************************/
div.productHeadingType4 .productText {
	width: 400px;
}

div.productHeadingType4 .productVideo {
	width: 523px;
	background: url("../img/videoBoxShadow.png") bottom center no-repeat;
	padding: 0 0 24px 17px;
}

div.productHeadingType4 .productVideoContainer {
	border: 5px solid #f4f6f7;
	text-align: center;
	width: 500px;
	font-family: "Droid Sans", "Arial", sans-serif;
	background-color: white;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

div.newsletterContainer {
	border: 5px solid #f4f6f7;
	font-family: "Droid Sans", "Arial", sans-serif;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    
    overflow: hidden;
    
    background-color: #eff1f3;
    
    padding: 15px 20px;
    margin-top: 20px;
}

	div.newsletterContainer input[type='text'] {
		border: 1px solid #d3d6d9;
		width: 220px;
		height: 31px;
		padding: 4px 10px 2px 10px;
		background-color: white;
	
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	    
	    font-size: 12px;
	    font-family: "Droid Sans", "Arial", sans-serif;
	}
	
	div.newsletterContainer input[type='text']:hover {
		border: 1px solid #b4bac0;
	}



/******************************* Product Testimonials Styles *******************************/
div.testimonialContainer {
	border: 5px solid #f4f6f7;
	font-family: "Droid Sans", "Arial", sans-serif;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    
    overflow: hidden;
    margin: 20px 0;
}

img.testimonialIcon {
	margin: 40px 0 0 30px;
}

div#boxHeading {
	background-color: #eff1f3;
	padding: 30px;
}

	div#boxHeading h3 {
		color: #46494c;
		margin-bottom: 0;
	}
	
ul.testimonials {
	margin: 30px;
	overflow: hidden;
}

ul.testimonials li {
	font-size: 18px;
	color: #6f7986;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

	ul.testimonials li span {
		font-size: 14px;
		color: #2b92fa; /* The skin color - This can be changed if you are going for a diferent color scheme */
		font-style: normal;
	}


	
/******************************* Product Buy Button Styles *******************************/
div.bigBuyButton {
	text-align: center;
	margin: 50px 0;
}



/******************************* Product Bullet List Styles *******************************/
ul.iconBulletList {
	overflow: hidden;
}

	ul.iconBulletList li {
		width: 450px;
		float: left;
		margin: 0 30px 20px 0;
	}

		ul.iconBulletList li h2 {
			margin-top: 10px;
			margin-left: 70px;
		}

		ul.iconBulletList li p {
			margin-left: 70px;
		}



/******************************* Product Tabs Styles *******************************/
div.tabbedArea {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    
    margin-bottom: 50px;
}

div.tabHeading {
	padding: 30px 30px 20px 30px;
	overflow: hidden;
}

div.tabContainer {
	padding: 30px;
}

div.tabContent {
	overflow: hidden;
}

ul.tabs li {
	float: left;
	margin-right: 5px;
}

	ul.tabs li a {
	    -moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    -khtml-border-radius: 8px;
	    border-radius: 8px;
	    
	    padding: 20px 20px 30px 20px;
	    font-size: 16px;
	    font-family: "Droid Sans", "Arial", sans-serif;
	    color: #9198a2;
	    text-decoration: none;
	    background-color: #e7eaed;
	}

	ul.tabs li.active {
		border-right: none;
	}
	
div.tabContent ul.iconBulletList li {
	width: 400px;
}



/******************************* List Styles *******************************/
ul.arrowList {
	
}

	ul.arrowList li {
		border-bottom: 1px solid #dbe0e3;
		background: transparent url("../img/arrowListIcon.png") center left no-repeat;
		display: block;
		padding: 9px 0 9px 17px;
	}
	
	ul.arrowList li a, ul.arrowList li a:hover {
		text-decoration: none;
	}


ul.checkList {
	
}

	ul.checkList li {
		border-bottom: 1px solid #dbe0e3;
		background: url("../img/checkListIcon.png") center left no-repeat;
		display: block;
		padding: 9px 0 9px 17px;
	}

	ul.checkList li a, ul.checkList li a:hover {
		text-decoration: none;
	}

	
ul.basicList {

}

	ul.basicList li {
		border-bottom: 1px solid #dbe0e3;
		display: block;
		padding: 9px 0 9px 0px;
	}

	ul.basicList li a, ul.basicList li a:hover {
		text-decoration: none;
	}
	
	ul.basicList li img {
		margin-right: 10px;
		float: left;
	}



/******************************* Blog Page Styles *******************************/
#contentWrapper {
	width: 610px;
	margin-right: 40px;
}

div#sidebarWrapper {
	width: 310px;
	background: url('../img/sidebarBG.png') 0 0 repeat-y;
}

	div#sidebarWrapper > ul {
		background: url('../img/sidebarTopFade.png') left top no-repeat;
		padding-left: 40px;
	}

	div#sidebarWrapper > ul > li {
		margin-bottom: 20px;
		padding-bottom: 30px;
		background: url('../img/sidebarSeparator.png') left bottom repeat-x;
	}
	
div.breadcrumbsSection {
	margin-bottom: 40px;
	height: 100px;
}

	div.breadcrumbsSection h1 {
		padding-top: 38px;
	}

div#sidebarBottomFade {
	background: white url('../img/sidebarBottomFade.png') bottom left no-repeat;
	height: 100px;
}

div#sidebarWrapper ul li ul li {
	border-bottom: 1px solid #dbe0e3;
	background: url("../img/arrowListIcon.png") center left no-repeat;
}

div#sidebarWrapper ul li ul li a {
	color: #6c747e;
	text-decoration: none;
	display: block;
	padding: 9px 0 9px 17px;
	
}

div#sidebarWrapper ul li ul li a:hover {
	color: #424b56;
	text-decoration: none;
}

li#adsWidget {
	overflow: hidden;
}
	li#adsWidget ol {
	}

	li#adsWidget ol li {
		float: left;
		margin-bottom: 5px;
		background-color: white;
	}
	
	li#adsWidget ol li img {
		border: 5px solid white;
	}

li#searchWidget form input[type="text"], form.searchForm input[type="text"] {
	border: 1px solid #d3d6d9;
	width: 240px;
	height: 31px;
	padding: 4px 10px 2px 10px;
	background-color: white;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
    font-size: 12px;
    font-family: "Droid Sans", "Arial", sans-serif;
}

	li#searchWidget form input[type="text"]:hover, form.searchForm input[type="text"]:hover {
		border: 1px solid #b2b8be;
	}

div.blogPost {
	border-bottom: 1px solid #e4e7e8;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

	div.blogPost h1 a {
		text-decoration: none;
	}

div.blogPostMeta {
}

	div.blogPostMeta p {
		color: #a8b0bb;
		font-size: 11px;
	}

	div.blogPostMeta a {
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	    padding: 5px 8px;
	    text-decoration: none;
	}
	
	div.blogPostMeta p.commentNo a {
		padding-left: 30px;
	}
	
a.flatButton{
	text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	padding: 10px 15px;
    font-size: 12px;
    font-family: "Droid Sans", "Arial", sans-serif;
}

div#sharePost {
	border-bottom: 1px solid #e4e7e8;
	border-top: 1px solid #e4e7e8;
	padding: 20px 0;
	overflow: hidden;
	margin: 20px 0;
}

	div#sharePost ul {
		overflow: hidden;
	}
	
	div#sharePost ul li {
		float: left;
		display: inline;
		margin-right: 10px;
	}

p#postTags {
	font-weight: bold;
	font-size: 11px;
	background: url('../img/tagIcon.png') left center no-repeat;
	padding-left: 20px;
	margin: 0; padding-bottom: 0;
}

	p#postTags a {
		font-weight: normal;
	}

div#authorBio {
	overflow: hidden;
}

	div#authorBio img {
		margin-right: 20px;	
	}
	
	div#authorBio h2 a {
		text-decoration: none;
	}

div#blogExtra {
	border-bottom: 1px solid #e4e7e8;
	margin-bottom: 30px;
	padding-bottom: 10px;
}



/******************************* Comments & Contact Form Styles *******************************/
div#commentsWrapper {
	margin-top: 30px;
	overflow: hidden;
	border-bottom: 1px solid #e4e7e8;
}

div.commentBody {
	border: 1px solid #e4e7e8;
	padding: 20px;
	margin-left: 85px;
	margin-bottom: 20px;
}

	div.commentBody span, div.commentBody a {
		color: #a8b0bd;
		font-size: 11px;
	}
	
	div.commentBody span a, div.commentBody a {
		text-decoration: none;
	}
	
ul#commentsList > li {
}

	ul#commentsList li ul li {
		margin-left: 50px;
	}

div#submitComment {
	margin-top: 20px;
}

	div#submitComment input[type="text"], form.contactForm input[type="text"] {
		border: 1px solid #d3d6d9;
		width: 160px;
		height: 31px;
		padding: 4px 10px 2px 10px;
	
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	    
	    font-size: 12px;
	    font-family: "Droid Sans", "Arial", sans-serif;
	    
	    margin-bottom: 20px;
	}

	div#submitComment input[type="text"]:hover, form.contactForm input[type="text"]:hover {
		border: 1px solid #b2b8be;
	}

	div#submitComment label, form.contactForm label {
		font-size: 11px;
		font-family: "Droid Sans", "Arial", sans-serif;
		color: #677178;
		display: block;
		margin-bottom: 8px;
	}

	div#submitComment textarea, form.contactForm textarea {
		border: 1px solid #d3d6d9;
		width: 570px;
		height: 200px;
		padding: 10px 10px 2px 10px;
	
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	    
	    font-size: 12px;
	    font-family: "Droid Sans", "Arial", sans-serif;
	    
	    margin-bottom: 20px;
	}

	div#submitComment textarea:hover, form.contactForm textarea:hover {
		border: 1px solid #b2b8be;
	}

	div#submitComment input[type="submit"], form.contactForm input[type="submit"] {
		background: url("../img/buttonBGOut.png") 0 0 repeat-x;
		font-family: "Droid Sans", "Arial", sans-serif;
		font-size: 12px;
		color: white;
		padding: 10px 30px;
		text-decoration: none;
	 
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	    border: 1px solid white;
	    
	    cursor: pointer;
	}

	div#submitComment input[type="submit"]:hover, form.contactForm input[type="submit"]:hover {
		background: url("../img/buttonBGOver.png") 0 0 repeat-x;
	    cursor: pointer;
	}
	
	div#negativeResponse, div#positiveResponse {
		display: none;
	}

	div.confirmationBox {
		padding: 20px;

	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;

		border: 1px solid #a4e2ad;
		background: #e8faeb url('../img/ok.png') 15px center no-repeat;
	}

	div.errorBox {
		padding: 20px;

	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;

		border: 1px solid #f2848c;
		background: #fae9eb url('../img/error.png') 15px center no-repeat;
	}

	div.positiveResponseAdded {
		padding: 20px;
		margin: 20px 0;	

	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;

		border: 1px solid #a4e2ad;
		background: #e8faeb url('../img/ok.png') 15px center no-repeat;
	}

	div#negativeResponse {
		padding: 20px;
		margin-top: 20px;	

	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;

		border: 1px solid #f2848c;
		background: #fae9eb url('../img/error.png') 15px center no-repeat;
	}
	
		div#negativeResponse p, div.errorBox p {
			color: red;
			margin: 0 0 0 40px;
		}

		div.positiveResponseAdded p, div.confirmationBox p {
			color: green;
			margin: 0 0 0 60px;
		}
		
	form#contact-form #submit-button, form#blog-comment-form #comment-submit-button {
		float: left;
	}
	
	#submitLoader {
		margin: 10px 0 0 10px;
		float: left;
	}



/******************************* Portfolio Styles *******************************/
div#portfolioSorting {
	margin-top: 45px;
}

	div#portfolioSorting h4 {
		margin-right: 20px;
	}

	div#portfolioSorting ul {
		margin-right: 5px;
	}
	
	div#portfolioSorting ul li {
		display: inline;
		float: left;
		margin-left: 10px;
	}
	
ul.portfolioItems {
}

	ul.portfolioItems li {
		float: left;
		display: inline;
		margin-bottom: 50px;
	}
	
	ul.portfolioItems li p {
		margin: 0px 0 25px 0;
	}
	
ul.twoColumn, ul.threeColumn, ul.fourColumn {
	margin-right: -25px;
}

ul.twoColumn li {
	width: 465px;
	margin-right: 25px;
}

ul.threeColumn li {
	width: 300px;
	margin-right: 25px;
}

ul.fourColumn li {
	width: 217px;
	margin-right: 25px;
}



/******************************* Footer Section Styles *******************************/
div.footerMenu {
	overflow: hidden;
	margin-bottom: 40px;
}

ul.socialNav li {
	display: inline;
	float: left;
	margin-left: 10px;
}
		
div#footerInformation {
	background-color: #eff1f3;
	padding: 25px 0;
	border-top: 1px solid #d1d8dc;
	overflow: hidden;
}

	div#footerInformation p {
		margin: 5px 0 0 0;
	}	

	
	
/******************************* Avia Slider Styles *******************************/
.aviaslider { 
	height: 320px; 	/*this changes the height of the image slider*/
	width: 960px;
	overflow: hidden;
	position: relative;
	background: #fff url(../img/preloader.gif) center center no-repeat;
}

.aviaslider li, .aviaslider .featured {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.js_active .aviaslider li, .js_active .aviaslider .featured {
	display: none;
}

.aviaslider img, .aviaslider a img, .aviaslider a {
	border: none;
	text-decoration: none;
}

.slidecontrolls {
	margin: 20px auto 0 auto;
	position: relative;
	float: left;
}

.slidecontrolls a {
	height: 20px;
	width: 18px;
	display: block;
	cursor: pointer;
	background: transparent url(../img/aviaslider/controlls.gif) center bottom no-repeat;
	float: left;
	outline: none;
}

.slidecontrolls a:hover, .slidecontrolls .active_item {
	background: transparent url(../img/aviaslider/controlls.gif) center top no-repeat;
}

.feature_excerpt {
	width: 930px;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 14px 15px;
	font-size: 12px;
	line-height: 1.5em;
	cursor: pointer;
	background: #000;
	color: #fff;
	font-family: "Droid Sans", "Arial", sans-serif;
}

.feature_excerpt strong {
	display: block;
	font-size: 15px;
	padding-bottom: 3px;
}



/******************************* CSS Styles Targetting Different Browsers *******************************/

.ff2 form#trialForm input[type='submit'] {
	padding: 10px 20px;
}

.ff2 form#trialForm input[type='text'], .ff3 form#trialForm input[type='text'], .ie7 form#trialForm input[type='text'] {
	padding: 12px 10px 0px 10px;
	height: 26px;
}

.ff2 div.newsletterContainer input[type='text'], .ff3 div.newsletterContainer input[type='text'], .ie8 div.newsletterContainer input[type='text'], .ie7 div.newsletterContainer input[type='text'] {
	padding: 12px 10px 0px 10px;
	height: 26px;
}

.ff2 li#searchWidget form input[type="text"], .ff2 form.searchForm input[type="text"], .ff3 li#searchWidget form input[type="text"], .ff3 form.searchForm input[type="text"], 
.ie7 li#searchWidget form input[type="text"], .ie7 form.searchForm input[type="text"], .ie8 li#searchWidget form input[type="text"], .ie8 form.searchForm input[type="text"],
.ff2 div#submitComment input[type="text"], .ff2 form.contactForm input[type="text"], .ff3 div#submitComment input[type="text"], .ff3 form.contactForm input[type="text"], 
.ie8 div#submitComment input[type="text"], .ie8 form.contactForm input[type="text"], .ie7 div#submitComment input[type="text"], .ie7 form.contactForm input[type="text"] {
	padding: 12px 10px 0px 10px;
	height: 26px;
}

.ff3 form#trialForm input[type='submit'] {
	padding: 10px 20px;
}

.ff3_6 form#trialForm input[type='text'], .ff3_6 li#searchWidget form input[type="text"], .ff3_6 form.searchForm input[type="text"], .ff3_6 div.newsletterContainer input[type='text'],
.ff3_6 div#submitComment input[type="text"], .ff3_6 form.contactForm input[type="text"] {
	padding: 2px 10px 0px 10px;
	height: 36px;
}

.ie7 div.testimonials {
    margin: 50px 0;
}

.ie7 form#trialForm input[type='submit'], .ie7 div#submitComment input[type="submit"], .ie7 form.contactForm input[type="submit"] {
	padding: 10px 20px;
	width: 150px;
}

.ie7 div.tabHeading {
	padding: 0;
	height: 68px;
}

.ie7 ul.tabs li {
	float: left;
    padding: 20px;
    margin-top: 15px;
    margin-right: -30px;   
}

.ie8 form#trialForm input[type='text'] {
	padding: 12px 10px 0px 10px;
	height: 26px;
}

.ie8 form#trialForm input[type='submit'] {
	padding: 10px 20px;
}

.ie8 .blankSeparatorIE8 {
	margin: 20px 0;
	height: 1px;
	width: 100%;
}

.ie7 div.sliderBG {
	background: transparent url("../img/sliderShadow.png") center 93% no-repeat;
}

.ie7 div.sliderSection {
	padding: 30px 0 15px 0;
	margin-bottom: 40px;
}

.ie7 div.blogPostMeta a {
	display: inline-block;
	padding: 3px 8px;
	margin-bottom: -7px;
}

.ie7 .flatButton {
	display: inline-block;
}

.ie7 div#submitComment input[type="submit"], form.contactForm input[type="submit"] {
	background: url("../img/buttonBGOut.png") 0 0 repeat-x;
    border: none;
}

.ie7 div#portfolioSorting .flatButton {
	margin-top: -10px;
}

.ie7 ul.portfolioItems li {
	margin-bottom: 30px;
}

.ie7 .commentBody {
	margin-top: -15px;
}
